In [10]:
import numpy as np


class Person:
    """Represents a participant in the Diffie-Hellman key exchange protocol."""

    def __init__(self, n):
        """Initialize a person with a random secret number.

        Args:
            n: Upper bound for the random secret (exclusive)
        """
        self.__secret = np.random.choice(np.arange(1, n))

In [11]:
alice = Person(5)

In [12]:
bob = Person(5)

In [13]:
np.random.choose(5)

AttributeError: module 'numpy.random' has no attribute 'choose'

In [25]:
np.random.choice(np.arange(1, 5))

3

In [26]:
# Pick a prime number
p = 7
n = 3

In [32]:
import pandas as pd

index = np.arange(0, p + 1)
a = pd.DataFrame(index=index, data=3, columns=["n"])
a

   n
0  3
1  3
2  3
3  3
4  3
5  3
6  3
7  3

In [33]:
a["power"] = a.index

In [34]:
a

   n  power
0  3      0
1  3      1
2  3      2
3  3      3
4  3      4
5  3      5
6  3      6
7  3      7

In [35]:
a["n^power"] = np.power(a["n"], a["power"])

In [36]:
a

   n  power  n^power
0  3      0        1
1  3      1        3
2  3      2        9
3  3      3       27
4  3      4       81
5  3      5      243
6  3      6      729
7  3      7     2187

In [37]:
a["n^power mod power"] = np.mod(a["n^power"], 7)

In [38]:
a

   n  power  n^power  n^power mod power
0  3      0        1                  1
1  3      1        3                  3
2  3      2        9                  2
3  3      3       27                  6
4  3      4       81                  4
5  3      5      243                  5
6  3      6      729                  1
7  3      7     2187                  3