In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.style.use("seaborn-whitegrid")

In [2]:
# be careful here, the last element is never included
np.arange(0, 5)

array([0, 1, 2, 3, 4])

In [3]:
# first notice how this leads to an overflow (without any warning)
np.power(2, np.arange(0, 65))

array([                   1,                    2,                    4,
                          8,                   16,                   32,
                         64,                  128,                  256,
                        512,                 1024,                 2048,
                       4096,                 8192,                16384,
                      32768,                65536,               131072,
                     262144,               524288,              1048576,
                    2097152,              4194304,              8388608,
                   16777216,             33554432,             67108864,
                  134217728,            268435456,            536870912,
                 1073741824,           2147483648,           4294967296,
                 8589934592,          17179869184,          34359738368,
                68719476736,         137438953472,         274877906944,
               549755813888,        1099511627776,        2199023255552,
              4398046511104,        8796093022208,       17592186044416,
             35184372088832,       70368744177664,      140737488355328,
            281474976710656,      562949953421312,     1125899906842624,
           2251799813685248,     4503599627370496,     9007199254740992,
          18014398509481984,    36028797018963968,    72057594037927936,
         144115188075855872,   288230376151711744,   576460752303423488,
        1152921504606846976,  2305843009213693952,  4611686018427387904,
       -9223372036854775808,                    0])

In [30]:
# the chess legend...
# 1 rice grain on the first field,
# 2 rice grains on the second field,
# 4 rice grains on the third field
# ...

# a chess board has 64 fields
# how many rice corns are on the field

grains = np.sum(np.power(2.0, np.arange(0, 256)))
print(grains)

# 1 kg of rice approx 50000 grains
# number of metrix tons needed
# a modern supership can transport approx. 20000 TEU, each filled with 25 tons of rice...
# How many grains are on a supership?
n = 20000 * 25 * 1000 * 50000.0
print(n)
print(grains / n)

print(np.log2(50000 * 1000 * 25))
np.power(2.0, 34) / 20000

1.157920892373162e+77
25000000000000.0
4.631683569492648e+63
30.219280948873624

858993.4592

I guess it's fair to say that powers of $2$ grow very fast. This is exponential growth in practice...
We would need approximately $750000$ superships, each packed with $20000$ containers, each container packed with $25$ tons of rice.

Annual production of rice in tons is $700 000 000$
We would produce for the next 500 years at the current rate...

In [5]:
(np.power(2.0, 64) - 1) / (50000 * 1000 * 700000000)

527.0498306774158

In [6]:
grains = np.power(2, 4) - 1
print(grains)
print(hex(grains))

15
0xf

In [7]:
integer = int("affe", 16)

In [8]:
bin(integer)
hex(integer)
integer

45054

In [9]:
frame = pd.DataFrame(index=np.arange(0, 16))
frame["binary"] = pd.Series({a: format(a, "0>4b") for a in frame.index})
frame["hexadecimal"] = pd.Series({a: format(a, "0>1x") for a in frame.index})

In [10]:
frame

   binary hexadecimal
0    0000           0
1    0001           1
2    0010           2
3    0011           3
4    0100           4
5    0101           5
6    0110           6
7    0111           7
8    1000           8
9    1001           9
10   1010           a
11   1011           b
12   1100           c
13   1101           d
14   1110           e
15   1111           f

In [11]:
# It's trivial to convert any hashcode into a binary or decimal form...

In [12]:
# age of the universe in seconds
# number of atoms in the universe
# operations the world-fastest supercomputer can perform per second 200 petaflops = 200 * 10^15

In [13]:
# Every integer can be represented as binary, hexadecimal or decimal number. A hashcode is a hexadecimal number...
# In fact, it's fair to say that typcially a hashcode is a large hexadecimal number.
# Nevertheless, the range of possible hashcodes is finite!
# So collisions do exist.
# It's just very hard to find them. If you find them, we should write a paper together...
# It's trivial to compute the hashcode of any given string...
# It's kind of impossible to do the inverse (which does not exist as mapping is not injective)
# but find one string that results in that hashcode
# You would have to apply brute force
# We are very interested in the problem of finding a hashcode below a given threshold,
# that problem is already hard enough...
# All collisions for simpler hash functions have been found using a birthday attack...